@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Lora);

div .wrapper{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#your-img {
    height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
}
body{
	text-align:center;
	font-size: 16px;
	font-family: 'Lora', 'Times New Roman' serif;
}
header{
	background-color: #FFF2FE;
	font-size:2em;
	margin:auto;
	height:100px;
	padding-right:100px;
}
#logo{
	float:left;
}
nav{
	font-size:1em;
	margin:10px;
	padding:20px 20px 20px 20px;
	float:right;
}
nav a{
color:#F532A4;
text-decoration: none
}
a:hover{
	background-color:#6DBFBA;
}
#about{
	height:550px;
	margin:auto;
	padding:20px;
	background-color:#FFF2FE; 
	font-family: 'Courgette', 'Ariel' cursive;
	font-size:1em;
	text-align: center;
}
#slogan{
	font-family: 'Courgette', 'Ariel' cursive;
	color: #F532A4;
	font-style: italic;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
#whatwedo{
	width:30em;
	font-size:1.5em;
	color: #F532A4;
	margin:auto;
}
a{
	color:#F532A4;
	text-decoration: none;
	font-weight: bold;
}
h1{
	font-family: 'Courgette', 'Ariel' cursive;
	color: #F532A4;
	font-size: 1.5em;
	font-weight:bold;
	text-align:center
}
#two_column{
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px
}
#left{
	background-color: #FFF2FE;
	border: 1px black solid;
	padding: 20px;
	float:left;
	width:62%;
}
#right{
	background-color: #FFF2FE;
	border: 1px black solid;
	padding: 20px;
	float:right;
	width:30%;
}
p{ 
font-size: 1.5em;
}
.columns{
	font-size:1em;
	color:#5DACBF;
	width:30em;
	text-align:left;
	margin:auto;
	padding:10px;
}
#contact{
	font-size: 2em;
	padding:20px;
}
aside{
	background-color: #FFC675;
	color:#5DACBF;
	font-size:1.5em;
	border: 1px black solid;
	padding: 20px;
}
footer{
	font-size: .5em;
	background-color: #FFF2FE;
	padding: 20px;
}
.clearfix:after {
	visibility: hidden;
	display:block;
	font-size:0;
	content: " ";
	clear:both;
	height: 0;
}
