@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Lora);

body{
	background-color:#FEFFF2;
		text-align:left;
	font-family: 'Lora', serif;
}
h1{
	color: #9DD5FF;
	font-size: 28px;
	font-weight: bold;
	text-align: center
}
p{
	font-size: 36px;
	color: #FF8548;
	text-align: center;
}
ul{
	font-size: 32px;
	color: #FF8548;
	text-align: left
}
#offer{
	font-style: 28px;
	color: #5B85FF;
	text-align: center;
}

#slogan{
	font-family: 'Courgette', cursive;
	color: #F532A4;
	font-style: italic;
	font-weight: bold;
	font-size: 54px;
	text-align: center;
}
#contact{
	color: #FF7BED;
}
nav a{
	color:#E54842;
	font-size: 20px;
}
img{
	width:20%;
	display: block;
    margin-left: auto;
    margin-right: auto }
}
a{
	color: #FF8548;
}
