@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Lora);

div .wrapper{
	background-color: #FFE2B8;
	/*border: 1px black solid;*/
	padding: 1.25em;
	width:90%;
}

header{
	background-color: #FFF2FE;
	font-size:1.5em;
	height:100px;
	/*padding-right:100px;*/
}

#your-img{
    max-width: 200px; 
    max-height: 100px;
}

nav{
	font-size:1em;
	text-align: center;
	margin: auto;
	padding-top: 0.5em;
	background-color: #FFF2FE;
	width:100%;
}
nav a{
	color:#F532A4;
	display: block;
	width: 16.6666%;
	float: left;
	padding-bottom: 2em;
}
a:hover{
	background-color:#6DBFBA;
}

body{
	text-align:center;
	font-size: 16px;
	font-family: 'Lora', 'Times New Roman' serif;
}

#about{
	/*height:550px;*/
	margin:auto;
	padding:1.25em;
	background-color:#FFF2FE; 
	background-image:url("images/image2.jpg");
	font-family: 'Courgette', 'Ariel' cursive;
	font-size:1em;
	text-align: center;
}
#about img{
	width:100%;
	display:block;
}
#whatwedo{
	width:100%;
	font-size: 1.5em;
	font-family: 'Courgette', 'Ariel' cursive;
	color: #F532A4;
	margin:auto;
	padding-top: 0.5em;
	padding-bottom:0.2em;
	text-align: center;
}
#slogan{
	font-style: italic;
	font-weight: bold;

}

h1{
	font-size: 1.5em;
	font-weight:bold;
	color: #F532A4;
}

p{ 
font-size: 1em;
}

a{
	color:#F532A4;
	text-decoration: none;
	font-weight: bold;
}

#two_column{
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 1.25em;
}
#left{
	width:0.6183%;
	background-color: #FFF2FE;
	border: 1px black solid;
	padding: 1em;
	float:left;
	width:62%;
}
#right{
	width:0.299%;
	background-color: #FFF2FE;
	border: 1px black solid;
	padding: 1em;
	float:right;
	width:30%;
}
.columns{
	font-size:1em;
	color:#5DACBF;
	width:62%;
	text-align:left;
	margin:auto;
	padding:0.625em;
}
.columns img{
	width:100%;
	display:block;
}
#contact{
	font-size: 1.5em;
	padding:1.25em;
}
aside{
	background-color: #FFC675;
	color:#5DACBF;
	font-size:1.5em;
	border: 1px black solid;
	padding: 1em;
}
footer{
	font-size: 1em;
	background-color: #FFF2FE;
	padding: 1.25em;
}
.clearfix:after {
	visibility: hidden;
	display:block;
	font-size:0;
	content: " ";
	clear:both;
	height: 0;
}

@media only screen and (max-width: 1130px) {

	main, aside {
		width: auto;
		float: none;
	}
	
	aside {
		display: none;
	}
	#left {
		width:96%;
	}
}

	@media only screen and (max-width: 870px) {

.columns {
	width:80%;
}
	}

	@media only screen and (max-width: 740px) {

	#left {
		width:90%;
	}
}

	@media only screen and (max-width: 550px) {

	nav a {
		float: none;
		width: auto;
		padding: .25em 0;
		}
}


	